/* CSS reset */
*{
    margin: 0;
    padding:0;
}
/* nav bar included in box1 for styling */
.box1{
    background-color: rgba(0, 0, 0, 0.196);
    background: url('image2/bg1.webp') ;
    width: 100vw;
    height: 50vh;
    
}
/* right top logo setting*/
.logo img{
    display: flex;
    width:7vw;
    height:7vw;
    border-radius: 4.6vw;
    margin:.15vw;
    padding:.15vw;
}
/* Css variable */
:root{
    --navbar-height:10vh;
}
/* navbar */

#navbar{
    display: flex;
    
    
}
#navbar ul li a{
    margin:3.5vh;
    text-decoration: none;
    display:block;
    padding:3px 22px;
    border-radius: 20px;
    font-size: 40px;
}
#navbar ul li a:hover{
    background-color: blue;
    color:brown
}

#navbar ul  {
    display: flex;
    list-style-type:none;
}
#navbar::before{
    content: "";
    background-image: black;
    height: 100%;
    width:100%;
    position: absolute;
    
}
#navbar ul li  {
    font-size: 1.3rem;
}
/* home section*/
#home{
    display:flex;
    flex-direction: column;
    padding: 3px 200px;
    padding-top: 13vh;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: aqua;

}
body{
    
    opacity: 2;

}
.btn{
    width: 186px;
    height: 45px;
    background-color: azure;
    color: rgb(0, 255, 85);
    border-radius: 40px;
    font-size: 25px;
    margin:1vh;
}
button:hover{
    background-color: brown;
    color: yellowgreen;
}
#home h1{
    color:white;
    text-align: center;
    font-size: 2.5rem;
}
/*service Section*/
#services {
    margin:34px;
    display: flex;
    width:90vw;
    margin-left: 5vw;
}
#services .box{
    border:2px solid brown;
    padding:34px;
    margin:3px 6px;
    border-radius: 28px;
    background-color: #f2f2f2;
}
#services .box img{
    height:156px;
    display: block;
    margin:auto;
}

#services{}
#services{}
/*utility center*/

/* client Section */
#client-section{
    height:344px;

}
#clients{
    background-image: url("image2/bg2.webp");
    display:flex;
    justify-content: center;
    align-items: center;
    
    
}
#clients img{
    height: 140px;
    margin:33px;
}
.h-primary{
    font-size: 3.8rem;
    padding:12px;
}
.h-primary{
    font-size: 2.8rem;
    padding:12px;
}
/*service section*/
.center{
    text-align: center;
}
.service-container h1{
    text-align: center;
    font-size: 4rem;
}
.box img{
    border-radius: 20px;
}
/* contact section */
#contact{
    background-image: url("image2/contactuspic.webp");
    height:40vh;
    
}
footer{
    background-color: black;
    width:100vw;
    color:white;
    margin:1vh 1vw 1vh 0vw;
    font-size: 4vh;
}
#contact-box{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input ,
#contact-box textarea{
    width: 100%;
    padding:0.5rem;
    border-radius: 1vh;
}
#contact-bos form{
    width:40%;
    padding:0.5rem;
}
#contact-box label{
    font-size: 1.5rem;
}
html{
    scroll-behavior: smooth;
}